.fs-0 {
    font-size: 4rem;
}

.fs-7 {
    font-size: .8rem;
}

.bg-grey {
    background-color: #f1f2f5;
}

@media(min-width:62em) {
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}